.Home-header {
  background-color: #607799;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Image-header {
  background-color: blue;
  min-height: 20vh;
  width: 30vh;
  display: flex;
  align-items: center;
}
